.contacts {
  text-align: left;
  background-color: gray;

  @media (min-width: @tablet-width) {
    order: 0;
    flex-basis: 100%;
  }

  &::before {
    content: "Контактная информация";
    .group-name();
  }
}

.contacts__label {
  .explain-text();
  padding-left: 40px;
}

.contacts__field {
  .input-style();
  position: relative;
  width: 100%;
  padding-right: 70px;
}

.contacts__label::before {
    content:"";
    display: block;
    position: absolute;
    right: 20px;
    width: 58px;
    height: 58px;
    background: black url();
    z-index: 2;
}
