.impression {
  padding-bottom: 1px;
  position: relative;

  @media (min-width: @tablet-width) {
    order: -1;
    text-align: left;
    padding-left: 0;

    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 295px;
      background-color: @colorDBgrey;
      top: 26px;
      right: 0;
    }
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 0;
  }
}

.impression__header {
  .group-name();
  margin-bottom: 17px;

  @media (min-width: @tablet-width) {
    text-align: left;
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
    margin-bottom: 52px;
    padding-left: 79px;
  }
}

.impression__label {
  position: relative;
  display: block;
  padding-left: 65px;
  margin: 0 7px 43px 0;
  .topic-middle();
  text-transform: none;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 21px;
    height: 21px;
    border: 17px solid @colorF2grey;
    top: -13px;
    left: 0;
    background-color: @colorF2grey;
    border-radius: 28px;

    @media (min-width: @desktop-width) {
      left: 5px;
    }
  }

  @media (min-width: @tablet-width) {
    padding-left: 76px;
    margin-bottom: 51px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 79px;
    margin: 0 7px 52px 0;
  }
}

.impression__radio-item {
  padding: 0 0 50px 70px;
  text-align: left;
}

.impression__radio-item:hover + &.impression__label {
  &::before {
    background-color: @colorE5grey;
    border-color: @colorE5grey;
  }
}

.impression__radio-item:active + &.impression__label {
  &::before {
    background-color: @colorD5grey;
    border-color: @colorD5grey;
  }
}

.impression__radio-item:checked + &.impression__label {
  &::before {
    background-color: @color33grey;
    border-color: @colorF2grey;
  }
}

.impression__radio-item:checked:hover + &.impression__label {
  &::before {
    background-color: @color33grey;
    border-color: @colorE5grey;
  }
}

.impression__radio-item:checked:active + &.impression__label {
  &::before {
    background-color: @colorA4grey;
    border-color: @colorD5grey;
  }
}
