.message {
  padding-bottom: 28px;

  @media (min-width: @tablet-width) {
    width: 100%;
    position: relative;
    margin-bottom: 60px;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 59px;
  }
}

.message__header {
  .group-name();

  @media (min-width: @tablet-width) {
    box-sizing: border-box;
    width: 320px;
    margin-bottom: 38px;
    background-color: @colorwhite;

    &::before {
      .grey-line-left();
      margin-top: 16px;
    }

    &::after {
      .grey-line-right();
      margin-top: 16px;
    }
  }
}

.message__item {
  box-sizing: border-box;
  background-color: @colorF2grey;
  resize: none;
  border: 0 solid transparent;
  .topic-middle();
  text-transform: none;
  color: @colorblack;
  padding: 15px 20px 14px;
  width: 100%;

  @media (min-width: @desktop-width) {
    padding: 15px 20px 14px;
  }
}
