.reply {
  box-sizing: border-box;
  display: block;
  padding: 0;
  margin: 0 auto;
  position: relative;

  @media (min-width: @tablet-width) {
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 60px;
    justify-content: space-between;
    margin-top: 6px;
    margin-bottom: 98px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 120px;
    margin-bottom: 69px;
  }
}

.reply__group {
  box-sizing: border-box;
  display: block;
  width: 280px;
  margin: 0 auto 0;
  border: 0;
  padding: 0;

  &::before {
    .grey-line-horizontal();

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    padding: 4px 0 6px;
    width: 50%;
  }
}

.reply__submitter {
  margin: 22px auto 38px;
  min-width: 280px;

  @media (min-width: @tablet-width) {
    width: 50%;
    align-self: baseline;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    width: 480px;
    margin: 0;
  }
}

.reply__footnote {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    align-self: baseline;
    .explain-text();
  }
}
