.seen {
  text-align: left;
  display: block;

  @media (min-width: @tablet-width) {
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0 0 16px 0;
  }

  @media (min-width: @tablet-width) {
    padding: 0 0 14px 0;
  }
}

.seen__header {
  .group-name();
  margin-bottom: -1px;

  @media (min-width: @tablet-width) {
    box-sizing: border-box;
    width: 300px;
    background-color: @colorwhite;
    margin-bottom: 24px;

    &::before {
      .grey-line-left();
      margin-top: 29px;
    }

    &::after {
      .grey-line-right();
      margin-top: 29px;
    }
  }
}

.seen__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 470px;
    padding: 0;
    margin: 0 auto;
    /* background-color: #ddaaaa; */
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.seen__label {
  position: relative;
  display: block;
  padding: 12px 0 32px 80px;
  margin-bottom: 10px;
  .topic-middle();
  text-transform: none;
  /* background-color: pink; */
  /* box-shadow: 0 0 2px 0 blue inset; */

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 56px;
    height: 56px;
    top: -1px;
    left: 0;
    border-radius: 8px;
    background: @colorF2grey;
  }

  @media (min-width: @tablet-width) {
    width: 125px;
    padding-bottom: 40px;
    padding-left: 79px;
    margin-left: 5px;
  }

  @media (min-width: @desktop-width) {
    width: auto;
    margin-left: 0;
    padding-left: 80px;
  }
}

.seen__checkbox-item {
  padding: 0 0 50px 70px;
  text-align: left;
}

.seen__checkbox-item:checked + &.seen__label {
  &::before {
    background: @colorF2grey url("../img/icon-tick.svg") center no-repeat;
  }
}
