.intro {
  width: 320px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

.intro__header {
  .topic-middle();
  margin: 46px 0 0 0;
  padding: 0 24px;
}

.intro__info {
  .explain-text();
  margin: 32px 0 25px 0;
  padding: 0 24px;
}
