.stay {
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 36px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 4px;
  }
}

.stay__header {
  .topic-middle21();
  margin: 28px 0 0 0;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    margin: 56px 0 30px 0;
  }

  @media (min-width: @desktop-width) {
    font-size: 30px;
    margin: 56px 0 30px 0;
  }
}

.stay__info {
  box-sizing: border-box;
  .explain-text();
  padding: 0 20px;
  margin: 20px auto 0;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    width: 648px;
    padding: 0 105px 43px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.stay__br {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.stay__button {
  margin: 35px auto 48px;
  min-width: 280px;
  max-width: 458px;

  @media (min-width: @tablet-width) {
    min-width: 458px;
    margin: 0 auto 60px;
  }

  @media (min-width: @desktop-width) {
    margin: 48px auto 65px;
  }
}

.stay__map {
  position: relative;
  min-width: 320px;
  height: 350px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.stay__map iframe {
  position: relative;
  z-index: 2;
  border: none;
}

.stay__img-wrapper {
  position: absolute;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  margin: 0;
  overflow: hidden;

  &::before {
    content: "";
    display: block;
    width: 27px;
    height: 27px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-14px) translateY(-14px);
    background-image: url("../img/icon-map-marker.svg");
  }
}
