.list-reset() {
  padding: 0;
  margin: 0;
  list-style: none;
}

.topic-middle() {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.topic-middle21() {
  .topic-middle;
  font-size: 21px;
}

.topic-middle30() {
  .topic-middle;
  font-size: 30px;
}

.explain-text() {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: @color33grey;
}

.gal-text-bold() {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.gal-text-plain() {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
}

.grey-line-horizontal() {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: @colorDBgrey;
}

.grey-line-left() {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 15px;
  width: calc(50% - 210px);
  height: 1px;
  background-color: @colorDBgrey;
}

.grey-line-right() {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 15px;
  width: calc(50% - 210px);
  height: 1px;
  background-color: @colorDBgrey;
}
