.list-reset() {
  padding: 0;
  margin: 0;
  list-style: none;
}

.topic-middle() {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.topic-middle21() {
  .topic-middle;
  font-size: 21px;
}

.topic-middle30() {
  .topic-middle;
  font-size: 30px;
}

.explain-text() {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: @color33grey;
}

.gal-text-bold() {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.gal-text-plain() {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
}
