.social {
  .list-reset();
  display: flex;
  width: 151px;
  justify-content: space-between;
  margin: 35px auto 0;
  background-color: red;
}

.social__itm {
  background-color: @colorlightblue;
  width: 46px;
  height: 48px;
  margin: 0;
}

.social__lynk {
  display: block;
  color: white;
  width: 46px;
  height: 48px;

  &--tw {
    background: url("../img/icon-twitter.svg") center no-repeat;
    background-size: 30px auto;
  }

  &--youtube {
    background: url("../img/icon-youtube.svg") center no-repeat;
    background-size: 30px auto;
  }

  &--fb {
    background: url("../img/icon-facebook.svg") center no-repeat;
    background-size: auto 30px;
  }

  &:hover,
  &:focus {
    background-color: @colormediumblue;
  }
}


@media (min-width: @tablet-width) {
  .social {
    margin: 0 auto 0;
  }
}
