.social {
  .list-reset();
  display: flex;
  width: 151px;
  justify-content: space-between;
  margin: 35px auto 0;

  @media (min-width: @tablet-width) {
    margin: 0 auto 0;
  }
}

.social__itm {
  background-color: @colorlightblue;
  width: 46px;
  height: 48px;
  margin: 0;
}

.social__icon {
  margin-top: 14px;
  width: 19px;
  height: 19px;
  opacity: 1;
  fill: #ffffff;
}

.social__lynk {
  display: block;
  color: white;
  width: 46px;
  height: 48px;
  text-align: center;

  &:hover,
  &:focus {
    background-color: @colormediumblue;
  }

  &:active {
    background-color: @colordarkblue;
  }

  &:active .social__icon {
    opacity: 0.3;
  }
}
