.advantage {
  .list-reset();
  position: relative;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 320px;
    left: 50%;
    transform: translateX(-50%);
    height: 37px;
    top: -22px;
    background-image: url("../img/bg-triangle.svg");

    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}

.advantage__br {
  @media (min-width: @tablet-width) {
    display: block;
  }
}

.advantage__item {
  &--emphasized {
    box-sizing: border-box;
    color: white;
    /* background: green; */
    /* box-shadow: 0 0 4px 0 black inset; */
    &:first-child .advantage__header {
      padding-top: 55px;
    }

    &:first-child .advantage__info--emphasized {
      @media (min-width: @desktop-width) {
        padding: 0 20px 42px;
      }
    }

    @media (min-width: @tablet-width) {
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      &:first-child .advantage__header {
        padding-top: 45px;
      }

      &:nth-child(2n) .advantage__header {
        order: 2;
      }
    }

    @media (min-width: @desktop-width) {
      &:first-child .advantage__header {
        padding: 50px 40px 0;
      }
    }
  }

  &--common {
    box-sizing: border-box;
    position: relative;
    background: @colorgrey;
    /* box-shadow: 0 0 4px 0 black inset; */

    &::after {
      content: "";
      position: absolute;
      display: block;
      left: 50%;
      transform: translateX(-140px);
      width: 280px;
      height: 1px;
      bottom: 0;
      background-color: @colorDBgrey;

      @media (min-width: @tablet-width) {
        display: none;
      }
    }

    &:last-child::after {
      display: none;
    }

    @media (min-width: @tablet-width) {
      width: 33.33%;
      flex-grow: 1;
    }
  }
}

.advantage__picture {
  margin: 0;
  padding: 0;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    height: 256px;
    flex-grow: 1;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    width: 800px;
    height: 256px;
  }
}

.advantage__picture img {
  display: block;

  @media (min-width: @tablet-width) {
    top: 0;
    left: 0;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}

.advantage__header {
  margin: 0;
  .topic-middle();

  &--emphasized {
    background-color: @colorlightblue;
    padding: 37px 0 0 0;
  }

  &--common {
    padding: 25px 0 0 0;
    margin: 0 auto;
  }

  @media (min-width: @tablet-width) {
    width: 256px;
    box-sizing: border-box;
    .topic-middle21();

    &--emphasized {
      padding: 45px 25px 0;
    }

    &--common {
      padding: 44px 48px 0;
    }
  }

  @media (min-width: @desktop-width) {
    &--emphasized {
      width: 400px;
      padding: 50px 50px 0;
    }
  }
}

.advantage__number {
  margin: 7px 0 12px;
  position: relative;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  align-self: center;
  display: block;

  @media (min-width: @tablet-width) {
    margin: 7px 0 18px;
  }

  &::before,
  &::after {
    content: "-";
    position: absolute;
  }

  &::before {
    left: 50%;
    transform: translateX(-25px) scaleX(2) scaleY(1);
  }

  &::after {
    right: 50%;
    transform: translateX(25px) scaleX(2) scaleY(1);
  }
}

.advantage__item:nth-child(3) .advantage__info {
  @media (min-width: @tablet-width) {
    padding: 0 40px 44px;
  }
}

.advantage__info {
  display: block;
  .explain-text();
  line-height: 21px;
  margin: 0;
  padding: 2px 32px 27px;

  @media (min-width: @tablet-width) {
    padding: 0 54px 25px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 70px 66px;
  }

  &--emphasized {
    color: @colorwhite;
    padding: 0 20px 42px;

    @media (min-width: @desktop-width) {
      padding: 0 34px 42px;
    }
  }
}

.advantage__list {
  .list-reset();
  color: @colorblack;
  box-sizing: border-box;
  /* background-color: pink; */
  text-align: left;
  margin: 0 auto 0;
  width: 280px;
  padding: 34px 20px 10px 10px;

  @media (min-width: @tablet-width) {
    display: flex;
    padding: 62px 0 35px 0;
    margin: 0;
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    padding: 60px 0 58px 0;
  }
}

.advantage__list-explainer {
  .explain-text();
  line-height: 21px;
  margin: 0 0 27px 0;
  padding: 0 0 0 40px;

  @media (min-width: @tablet-width) {
    padding: 0 50px;
  }

  .advantage__list-item--souvenier & {
    padding: 0 0 0 40px;

    @media (min-width: @tablet-width) {
      padding: 0 38px;
    }
  }
}

.advantage__list-item {
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    flex-grow: 1;
    width: 30%;
    margin: 0;
    text-align: center;

    &--meal {
      order: 1;
    }

    &--souvenier {
      order: 2;
    }
  }
}

.advantage__list-header {
  .topic-middle();
  position: relative;
  margin: 0 0 15px 0;
  padding: 0 0 0 40px;

  @media (min-width: @tablet-width) {
    .topic-middle21();
    margin: 0 0 23px 0;
    padding: 0;
  }

  &::before {
    content: "";
    position: absolute;
    left: -10px;
    top: -5px;
    width: 37px;
    height: 37px;
    background: url("../img/icon-burger.svg") center no-repeat;
    background-size: contain;

    @media (min-width: @tablet-width) {
      display: block;
      position: relative;
      left: calc(50% - 38px);
      width: 75px;
      height: 75px;
      margin-bottom: 20px;
      background-image: url("../img/icon-burger.svg");
    }
  }
}
